/* === Navbar Styles === */
.navbar {
  background-color: #2c3e50;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.nav-logo {
  color: #ecf0f1;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  gap: 1.5rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #bdc3c7;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.nav-links:hover {
  color: #3498db;
}

.nav-links::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3498db;
    transition: width 0.3s ease;
}

.nav-links:hover::after {
    width: 50%;
}


.menu-icon {
  display: none; /* Hidden on desktop */
}

/* === Media Query for Mobile === */
@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #2c3e50;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item {
    width: 100%;
    border-bottom: 1px solid #465b71;
  }
  
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: #3498db;
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
  
  .nav-links:hover::after {
      width: 0;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .menu-icon .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .menu-icon.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-icon.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
